@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300&family=Red+Hat+Display:wght@300&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 15px auto;
    align-items: center;
}
.top-right{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}
.login{
    background-color: #00d09c;
    color:white;
    padding: 15px;
    border-style: none;
    border-radius: 8px;
    width: 175px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.search button{
    background-color: white;
    border-style: none;
    color: grey;
    
}
.search input{
    width: inherit;
    padding: 5px;
    border-style: none;
    border-color: white;
    outline: none;
    caret-color: #00d09c;
}

.search{
    margin-top:10px;
    box-shadow: 0 0 2.5px 2.5px rgb(233, 225, 225);
    padding: 10px;
    border-radius: 8px;
    width: 60%;
}

.middle{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.middle-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    padding-left: 210px;
    padding-top: 180px;
    margin-right: 50px;
}

.middle-right{
    display: flex;
    flex-direction: column;
    
    padding-left: 250px;
    padding-top: 50px;
    height: 600px;
}

.roww-1{
    display: flex;
    justify-content: space-between;
    width: 65vh;
    
}

.row-2{
    display: flex;
    justify-content: space-between;
    width: 65vh;
}

.row-3{
    display: flex;
    justify-content: space-between;
    width: 65vh;
}

.sub-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    
}

.mid-l-1 p{
    font-size: 45px;
    font-weight: 500;
}

.mid-l-2{
    color: grey;
}

.middle2{
    padding: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 975px;
}

.two{
    font-weight: 500;
    font-size: 40px;
    color: #44475B;
}

.three{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.middle4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    color: #44475B;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-left: 450px;
}

.middle5{
    display: flex;
    width: 100%;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.middle5 img{
    height: 250px;
    width: 300px;
}

.middle6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
}

.nine-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px;
    height: 75vh;
    margin-left: 75px;
  
}

.n1{
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: .004em;
    color: #44475B;

}

.n2{
    letter-spacing: .3px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #7c7e8c;

}


